* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Navy: #1A2A33;
  --Semi-Dark-Navy: #1F3641;
  --Silver: #A8BFC9;
  --Silver-Hover: #DBE8ED;
  --Light-Blue: #31C3BD;
  --Light-Blue-Hover: #65E9E4;
  --Light-Yellow: #F2B137;
  --Light-Yellow-Hover: #FFC860;
}

html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--Dark-Navy);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 327px;
  min-width: 327px;

}

.icon-contaier {
  display: flex;
  justify-content: center;
}

.icon-container__icon {
  width: 32px;
  height: 32px;
  margin: 0 4px;
}

.choose-turn {
  background-color: var(--Semi-Dark-Navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  border-radius: 15px;
  border-bottom: 10px solid #10212a;
}

.choose-turn__title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--Silver);
}

.choose-turn__turn {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 6px;
  background-color: var(--Dark-Navy);
  border-radius: 10px;

}

.choose-turn__btn-active,
.choose-turn__btn-inactive {
  width: 198px;
  height: 54px;
  border-radius: 10px;
  border: none;
}

.choose-turn__btn-inactive{
  background: none;
}

.choose-turn__btn-active {
  background-color: var(--Silver);
}

.btn-inactive__turn__icon {
  background-color: var(--Dark-Navy);
}

.turn__icon {
  width: 32px;
  height: 32px;
}

.choose-turn__note {
  font-size: 1.4rem;
  color: var(--Silver);
  opacity: 50%;
}

.choose-player {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-long {
  height: 60px;
  border-radius: 15px;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--Dark-Navy);
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-yellow {
  background-color: var(--Light-Yellow);
  box-shadow: 0px 8px 0px 0px rgba(204,139,19,1);
}

.button-blue {
  background-color: var(--Light-Blue);
  box-shadow: 0px 8px 0px 0px rgba(17,140,135,1);
}

.choose-turn__btn-inactive i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../src/assets/icon-x.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.play{
  margin: 70px auto;
  width: 327px;
  min-width: 327px;
}

.play__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.play__turn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 40px;
  background-color: var(--Semi-Dark-Navy);
  box-shadow: 0px 4px 0px 0px rgba(16,33,42,1);
  border-radius: 8px;

}

.play__turn-img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.play__turn-text {
  font-size: 14px;
  font-weight: bold;
  color: var(--Silver);
}

.button-content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--Silver);
  box-shadow: 0px 4px 0px 0px rgba(107,137,151,1);
}

.play__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  width: 328px;
  min-width:328px;
}

.board__squard {
  width: 96px;
  height: 96px;
  background-color: var(--Semi-Dark-Navy);
  box-shadow: 0px 4px 0px 0px rgba(16,33,42,1);
  border-radius: 10px;
}

.board__player-one,
.board__gamesplayed,
.board__player-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 64px;
  border-radius: 10px;
}

.player-one__text,
.gamesplayed__text,
.player-two__text {
  font-size: 1.6rem;
  color: var(--Dark-Navy);
}

.player-one__score,
.gamesplayed__score,
.player-two__score {
  font-size: 2rem;
  font-weight: bold;
  color: var(--Dark-Navy);
}

.board__player-one {
  background-color: var(--Light-Blue);
}

.board__gamesplayed{
  background-color: var(--Silver);
}

.board__player-two{
  background-color: var(--Light-Yellow);
}

.modal-win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin: 0 auto;
  background-color: var(--Dark-Navy);
}

.modal-win__title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--Silver);
  margin: 16px 0;
}

.modal-win__who-win {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.modal-win__icon {
  width: 30px;
  height: 30px;
}

.modal-win__win {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--Light-Yellow);
}

.modal-win__buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.modal-win__btn-1,
.modal-win__btn-2 {
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--Semi-Dark-Navy);
}

.modal-win__btn-1 {
  background-color: var(--Silver);
  box-shadow: 0px 4px 0px 0px rgba(107,137,151,1);
}

.modal-win__btn-2 {
  background-color: var(--Light-Yellow);
  box-shadow: 0px 4px 0px 0px rgba(204,139,19,1);
}

.modal-win__title--ties {
  font-size: 2.4rem;
}